/* Global CSS for pages */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: -webkit-system-font, Cantarell, sans-serif;
    font-size: 11pt;
    color: #2e3436;
    background-color: #f6f6f4;
}

h1 {
    color: #9a9996;
    text-shadow: 0 1px 0 white;
    margin-bottom: 0;
}

/* about: */

#about-app {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog {
    padding: 12px;
    text-align: center;
}

@media (min-width: 550px) {
    .dialog {
        padding: 36px 42px;
        background-color: #fff;
        border-radius: 1em;
        border: 2px solid #d3d7cf;
    }
}

.properties {
    margin: auto;
}

.prop-label {
    color: #999;
}

#about-title {
    color: black;
    font-weight: 800;
}

#about-subtitle {
    color: #9a9996;
    text-shadow: 0 1px 0 white;
}

#about-icon {
    filter: drop-shadow(0 2px 12px rgba(0,0,0,0.1))
            drop-shadow(0 1px 2px rgba(0,0,0,0.5));
}

/* about:plugins */

#plugin-table
{
    margin-top: 10px;
    width: 96%;
    text-align: left;
    border-collapse: collapse;
}

#plugin-table th
{
    padding: 6px;
    background: #565051;
    border: 2px solid #565051;
    color: #f6f6f4;
    width: 33%;
}

#plugin-table td
{
    padding: 4px;
    background: #f6f6f4;
    border-bottom: 1px solid #d3d7cf;
    color: #2e3436;
    border-top: 1px solidtransparent;
}

#plugin-table tr:hover td
{
    background: #d3d7cf;
    color: #2e3436;
}

/* about:epiphany */

html.epiphany-html {
    background-color: #3465a4;
    background-image: none;
}

.epiphany-body {
    color: #eeeeec;
    max-width: 40em;
    margin: 2em auto;
}

#ephytext {
    margin-top: 15%;
    font-size: 1.5em;
    text-align: center;
}

#from {
    margin-top: 1em;
    font-size: 1.5em;
    text-align: right;
    font-weight: bold;
}

/* about:memory */

#memory {
  margin: 20px;
}

.memory-table caption {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 0.9em;
    color: #2e3436;
    text-shadow: 0 1px 0 white;
}

.memory-table {
    margin: 0 12.5% 0.9em 12.5%;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
}

.memory-table th {
    padding: 4px;
    background: #565051;
    border: 2px solid #565051;
    color: #f6f6f4;
}

.memory-table td {
    padding: 2px;
    background: #f6f6f8;
    border-bottom: 1px solid #d3d7cf;
    color: #2e3436;
    border-top: 1px solid transparent;
    width: 16%;
}

.memory-table tr:hover td {
    background: #d3d7cf;
    color: #2e3436;
}


/* about:applications */

.applications-body table { width: 100%; border-collapse: collapse; }

.applications-body table, td { 
	border: 1px solid #d3d7cf;
	border-left: none; border-right: none;
}

.applications-body p { margin-bottom: 30px; }
.applications-body td { padding: 15px;}
.applications-body td.icon { width: 64px; }
.applications-body td.datas { width: 200px; }
.applications-body td.input { width: 64px; }
.applications-body td.date { width: auto; text-align: right; font-size: small; }
.applications-body .appname { font-weight: bold; }
.applications-body .appurl, td.date { color: #babdb6; }
.applications-body input { width: 100%; padding: 8px; }

/* about:incognito */

.incognito-body {
    box-sizing:border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width:40em;
    margin: 30px auto 60px;
    text-align:block;
    line-height: 1.5;
}

.incognito-body h1 {
    color: #888a85;
    text-align:center;
}

.incognito-body-image {
    margin:auto;
    display:block;
}

/* about:overview */

#overview {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.most-visited-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 9px;
    margin: 6px;
}

@media (min-width: 500px) {
    .most-visited-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 18px;
        margin: 18px;
    }
}

.overview-item {
    position: relative;
    overflow: hidden;
    outline: 0;
    transition: 0;
    text-align: center;
    text-decoration: none;
}

.overview-title {
    margin: 10px 6px;
    padding-bottom: 2px;
    display: inherit;
    white-space: nowrap;
    overflow: hidden;
    font-family: -webkit-system-font, Cantarell, sans-serif;
    font-size: 11pt;
    color: #2e3436;
    text-overflow: ellipsis;
    text-align: center;
}

.overview-thumbnail {
    height: 160px;
    display: block;
    border: 1px solid #ccc;
    background: url(ephy-resource:///org/gnome/epiphany/web-watermark.svg) center no-repeat, #fff;
    background-repeat: no-repeat;
    border-radius: 5px;
}

@media (min-width: 341px) {
    .overview-thumbnail {
        height: 120px;
    }
}

@media (min-width: 450px) {
    .overview-thumbnail {
        height: 160px;
    }
}

.overview-thumbnail:hover,
:focus .overview-thumbnail {
    border: 1px solid #999;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.overview-thumbnail:active {
    border: 1px solid #999;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}

.overview-close-button {
    -webkit-transition: all 250ms;
    position: absolute;
    top: 9px;
    right: 9px;
    opacity: 0;
    z-index: 5;
    color: #888;
    width: 24px;
    height: 24px;
    background: url(ephy-resource:///org/gnome/epiphany/overview-remove-item.svg) center no-repeat, rgba(80,80,80,.3);
    border-radius: 50%;
}

.overview-close-button:hover {
    background: url(ephy-resource:///org/gnome/epiphany/overview-remove-item.svg) center no-repeat, rgba(0,0,0,.8);
}

.overview-close-button:active {
    text-shadow: none;
    background-color: #000;
}

.overview-item:hover .overview-close-button {
    opacity: 1;
}

.overview-removed.overview-item {
    transition: all 0.75s ease-in-out;
    width: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
}

.overview-removed .overview-close-button {
    display: none;
}

html[dir="rtl"] .overview-close-button {
    left: 20px;
    right: inherit;
}

html[dir="rtl"] .overview-item {
    float: right;
}

.overview-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    max-width: 800px;
    opacity: 0.55; /* Adwaita's dim-label */
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.overview-empty h1 {
    color: black;
    opacity: 0.55; /* Adwaita's dim-label */
    text-shadow: none;
}

.overview-empty img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    filter: grayscale(100%);
    width: 128px;
}
