button.active-menu {
  color: #2e3436;
  outline-color: rgba(46, 52, 54, 0.3);
  border-color: #b6b6b3;
  background-image: none;
  background-color: #d4d4d2;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0);
  text-shadow: none;
  -gtk-icon-shadow: none; }

.floating-bar {
  background-color: @theme_base_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: @borders;
  border-radius: 3px 3px 0 0; }
  .floating-bar.left {
    border-left-style: none;
    border-top-left-radius: 0; }
  .floating-bar.right {
    border-right-style: none;
    border-top-right-radius: 0; }
  .floating-bar:backdrop {
    background-color: @theme_unfocused_base_color;
    border-color: @unfocused_borders; }

.incognito-mode.titlebar {
  background-image: linear-gradient(to top, #a5b1bd, #c5cdd5 2px, #cbd2d9 3px);
  background-color: #cbd2d9;
  box-shadow: inset 0 1px #f1f3f5;
  background-image: -gtk-icontheme("user-not-tracked-symbolic");
  background-size: 64px 64px, 100% 100%;
  background-position: 160px 0, 0 0;
  background-repeat: no-repeat, no-repeat;
  border-color: #909fae;
  color: rgba(46, 52, 54, 0.2); }
  .incognito-mode.titlebar > * {
    color: #2e3436; }
    .incognito-mode.titlebar > *:backdrop {
      color: #8b8e8e; }
  .incognito-mode.titlebar:backdrop {
    background-image: -gtk-icontheme("user-not-tracked-symbolic");
    box-shadow: inset 0 1px #f1f3f5;
    color: rgba(139, 142, 142, 0.1); }
  .incognito-mode.titlebar button {
    color: #2e3436;
    outline-color: rgba(46, 52, 54, 0.3);
    border-color: #909fae;
    border-bottom-color: #738598;
    background-image: linear-gradient(to bottom, #cbd2d9, #bfc8d0 60%, #aeb8c3);
    text-shadow: 0 1px rgba(255, 255, 255, 0.76923);
    -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.76923);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.6), 0 1px #f1f3f5; }
    .incognito-mode.titlebar button.flat, .incognito-mode.titlebar button.titlebutton {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0);
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .incognito-mode.titlebar button.titlebutton {
      text-shadow: 0 1px rgba(255, 255, 255, 0.76923);
      -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.76923); }
    .incognito-mode.titlebar button:hover {
      color: #2e3436;
      outline-color: rgba(46, 52, 54, 0.3);
      border-color: #909fae;
      border-bottom-color: #738598;
      background-image: linear-gradient(to bottom, #dde1e6, #cbd2d9 60%, #bfc8d0);
      text-shadow: 0 1px rgba(255, 255, 255, 0.76923);
      -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.76923);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.6), 0 1px #f1f3f5; }
    .incognito-mode.titlebar button:active, .incognito-mode.titlebar button:checked, .incognito-mode.titlebar button#ephy-page-menu-button.active-menu {
      color: #2e3436;
      outline-color: rgba(46, 52, 54, 0.3);
      border-color: #909fae;
      background-image: none;
      background-color: #b3bec8;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px #f1f3f5;
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .incognito-mode.titlebar button:disabled {
      border-color: #909fae;
      background-color: #d2d8de;
      background-image: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px #f1f3f5; }
      .incognito-mode.titlebar button:disabled label, .incognito-mode.titlebar button:disabled {
        color: #8b8e8e; }
    .incognito-mode.titlebar button:backdrop {
      border-color: #cbd2d9;
      background-color: transparent;
      background-image: image(#cbd2d9);
      text-shadow: none;
      -gtk-icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(241, 243, 245, 0);
      border-color: #909fae; }
      .incognito-mode.titlebar button:backdrop label, .incognito-mode.titlebar button:backdrop {
        color: #8b8e8e; }
      .incognito-mode.titlebar button:backdrop:active {
        border-color: #bac4cd;
        background-color: #bac4cd;
        background-image: none;
        box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(241, 243, 245, 0);
        border-color: #909fae; }
        .incognito-mode.titlebar button:backdrop:active label, .incognito-mode.titlebar button:backdrop:active {
          color: #8b8e8e; }
      .incognito-mode.titlebar button:backdrop:disabled {
        border-color: #d2d8de;
        background-color: #d2d8de;
        background-image: none;
        text-shadow: none;
        -gtk-icon-shadow: none;
        box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(241, 243, 245, 0);
        border-color: #909fae; }
        .incognito-mode.titlebar button:backdrop:disabled label, .incognito-mode.titlebar button:backdrop:disabled {
          color: #989ea3; }
    .incognito-mode.titlebar button.flat:backdrop, .incognito-mode.titlebar button.titlebutton:backdrop {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0);
      text-shadow: none;
      -gtk-icon-shadow: none; }
  .incognito-mode.titlebar entry {
    box-shadow: inset 0 0 0 1px rgba(74, 144, 217, 0), 0 1px #f1f3f5;
    border-color: #909fae; }
    .incognito-mode.titlebar entry:focus {
      border-color: #4a90d9;
      box-shadow: inset 0 0 0 1px #4a90d9, 0 1px #f1f3f5; }
    .incognito-mode.titlebar entry:backdrop {
      box-shadow: none; }
