/* Global CSS for error pages */

html {
    font-family: -webkit-system-font, Cantarell, sans-serif;
    font-size: 12pt;
    padding: 40px 20px 0 20px;
}

#container {
    padding: 2em;
    margin: 2em auto;
    background-color: #fff;
    max-width: 500px;
}

#leftpanel {
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
    width: 10%;
}

#rightpanel {
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
    width: 80%;
}

#rightpanel .hidden {
    display: none;
}

#rightpanel .visible {
    display: block;
}

#rightpanel .clickable {
    cursor: pointer;
    color: #888a85;
}

#rightpanel .clickable:hover,
#rightpanel .clickable:focus {
    color: #a6ad9c;
}

#msg-title {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

#msg-title.default {
    color: #2e3436;
}

#msg-title.danger {
    color: #cc0000;
}

#msg-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

#msg-details {
    margin-top: 10px;
    margin-bottom: 10px;
}

#msg-details div {
    font-size: 11pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer {
    margin-top: 35px;
    margin-bottom: 0;
}

.btn {
    min-width: 200px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 0;
    min-height: 24px;
    padding: 4px 9px;
    border: 1px solid;
    border-radius: 5px;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: #2e3436;
    outline-color: rgba(46, 52, 54, 0.3);
    border-color: #cdc7c2;
    border-bottom-color: #bfb8b1;
    background-image: linear-gradient(to top, #edebe9 2px, #f6f5f4);
    text-shadow: 0 1px rgba(255, 255, 255, 0.769231);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.07);
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #2e3436;
    outline-color: rgba(46, 52, 54, 0.3);
    border-color: #cdc7c2;
    border-bottom-color: #bfb8b1;
    text-shadow: 0 1px rgba(255, 255, 255, 0.769231);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(to top, #f6f5f4, #f8f8f7 1px);
}

.suggested-action {
    color: white;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #1b6acb;
    border-bottom-color: #15539e;
    background-image: linear-gradient(to top, #2379e2 2px, #3584e4);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.559216);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.07);
}

.suggested-action:hover {
    color: white;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #1b6acb;
    border-bottom-color: #15539e;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.511216);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(to top, #3584e4, #3987e5 1px);
}

.suggested-action:focus,
.suggested-action:active,
.suggested-action.active {
    color: white;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #1b6acb;
    background-image: image(#1961b9);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
}

.destructive-action {
    color: white;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #b2161d;
    border-bottom-color: #851015;
    background-image: linear-gradient(to top, #ce1921 2px, #e01b24);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.606275);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
}

.destructive-action:hover {
    color: white;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #b2161d;
    border-bottom-color: #851015;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.558275);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(to top, #e01b24, #e41c26 1px);
}

.destructive-action:focus,
.destructive-action:active,
.destructive-action.active {
    color: white;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #b2161d;
    background-image: image(#a0131a);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
}
