/* incognito mode */
.incognito-mode headerbar,
.incognito-mode searchbar > revealer > box,
.incognito-mode tabbar > revealer > box,
.incognito-mode actionbar > revealer > box {
  background-color: #252f49;
}

.incognito-mode headerbar:backdrop,
.incognito-mode searchbar:backdrop > revealer > box,
.incognito-mode tabbar:backdrop > revealer > box,
.incognito-mode actionbar:backdrop > revealer > box {
  background-color: #1c2438;
}

/* automation mode */
.automation-mode headerbar,
.automation-mode searchbar > revealer > box,
.automation-mode tabbar > revealer > box,
.automation-mode actionbar > revealer > box {
  background-color: #733100;
}

.automation-mode headerbar:backdrop,
.automation-mode searchbar:backdrop > revealer > box,
.automation-mode tabbar:backdrop > revealer > box,
.automation-mode actionbar:backdrop > revealer > box {
  background-color: #632300;
}

.entry-icon.starred {
  color: @yellow_1;
}
