/* incognito mode */
.incognito-mode .top-bar.raised,
.incognito-mode .bottom-bar.raised {
  background-color: #252f49;
}

.incognito-mode .top-bar.raised:backdrop,
.incognito-mode .bottom-bar.raised:backdrop {
  background-color: #1c2438;
}

/* automation mode */
.automation-mode .top-bar.raised,
.automation-mode .bottom-bar.raised {
  background-color: #733100;
}

.automation-mode .top-bar.raised:backdrop,
.automation-mode .bottom-bar.raised:backdrop {
  background-color: #632300;
}

.entry-icon.starred {
  color: @yellow_1;
}
