{
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "semi": ["error"],
        "no-unused-vars": ["error", { "args": "none" }],
        "quotes": ["error", "single"],
        "strict": ["error", "global"],
        "eqeqeq": ["error"],
        "no-var": ["error"],
        "prefer-const": ["error"]
    },
    "env": {
        "browser": true,
        "es2021": true
    },
    "ignorePatterns": ["/third-party"]
}