*~
*.o
*.lo
*.la
.deps
.libs
.*.sw[op]
stamp-*
*-type-builtins.c
*-type-builtins.h

INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/*.m4
!m4/introspection.m4
missing
mkinstalldirs

data/*.desktop
data/*.desktop.in
data/default-bookmarks.rdf
data/epiphany-*.pc
data/org.gnome.Epiphany.enums.xml
data/org.gnome.Epiphany.service
data/org.gnome.epiphany.gschema.valid
data/org.gnome.epiphany.gschema.xml

lib/egg/eggtypebuiltins.[ch]
lib/ephy-profile-migrator

po/*.pot
po/*.gmo
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES

src/Epiphany-*.gir
src/Epiphany-*.typelib
src/EphyEgg-*.gir
src/EphyEgg-*.typelib
src/epiphany
src/epiphany.h

tests/test-ephy-embed-persist
tests/test-ephy-embed-single
tests/test-ephy-location-entry
tests/test-ephy-zoom-control
