[submodule "subprojects/libhandy"]
	path = subprojects/libhandy
	url = https://source.puri.sm/Librem5/libhandy.git
[submodule "subprojects/libdazzle"]
	path = subprojects/libdazzle
	url = https://gitlab.gnome.org/GNOME/libdazzle.git
