include: 'https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml'

check-code-style:
  stage: 'build'
  image: 'registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:master'
  before_script:
    - dnf install -y uncrustify
  script:
    - data/check-code-style

variables:
  BUNDLE: 'epiphany-git.flatpak'

flatpak:
  extends: '.flatpak'
  variables:
    MANIFEST_PATH: 'org.gnome.Epiphany.json'
    RUNTIME_REPO: 'https://sdk.gnome.org/gnome-nightly.flatpakrepo'
    FLATPAK_MODULE: 'epiphany'
    MESON_ARGS: '-Dprofile=Devel -Dunit_tests=enabled --werror'
    APP_ID: 'org.gnome.Epiphany.Devel'

review:
  dependencies:
    - 'flatpak'
  extends: '.review'

stop_review:
  extends: '.stop_review'
