.floating-bar { background-color: @theme_base_color; border-width: 1px; border-style: solid solid none; border-color: @borders; border-radius: 3px 3px 0 0; }

.floating-bar.left { border-left-style: none; border-top-left-radius: 0; }

.floating-bar.right { border-right-style: none; border-top-right-radius: 0; }

.floating-bar:backdrop { background-color: @theme_unfocused_base_color; border-color: @unfocused_borders; }

#title-box-container { transition: background 200ms ease-out; }

.incognito-mode #title-box-container { background: -gtk-icontheme("user-not-tracked-symbolic") 16px 0/64px 64px no-repeat; }

.incognito-mode #title-box-container:backdrop { background-image: cross-fade(50% -gtk-icontheme("user-not-tracked-symbolic"), image(transparent)); }

.automation-mode headerbar { background-color: #ff9600; color: rgba(0, 0, 0, 0.35); }

.entry_icon_box { margin-left: 2px; margin-right: 5px; }

.entry_icon_box:dir(rtl) { margin-left: 5px; margin-right: 2px; }

.entry_icon_box > button { box-shadow: none; border: transparent; background: transparent; padding: 0px; -gtk-icon-shadow: none; outline-offset: -1px; }

.entry_icon_box > button:hover:not(:backdrop) .entry_icon { opacity: 1; }

.entry_icon { color: @theme_fg_color; margin: 0 4px; opacity: .8; }

.entry_icon:active { color: @theme_selected_bg_color; }

.entry_icon:backdrop { color: @theme_unfocused_fg_color; }

.entry_icon.selected { color: @theme_selected_bg_color; }

.entry_icon.starred { color: orange; }

.bookmarks-row button { opacity: 0.25; }

.bookmarks-row:hover button { opacity: 1; }

.bookmark-tag-widget { padding-left: 8px; background-color: rgba(0, 0, 0, 0.1); border-radius: 3px; }

.bookmark-tag-widget label { padding-left: 8px; padding-right: 8px; }

.bookmark-tag-widget image, .bookmark-tag-widget label, .bookmark-tag-widget button:hover image { color: @theme_fg_color; }

.bookmark-tag-widget-selected { background-color: @theme_selected_bg_color; }

.bookmark-tag-widget-selected image, .bookmark-tag-widget-selected label, .bookmark-tag-widget-selected button:hover image { color: @theme_selected_fg_color; }

#fullscreen-popup { padding: 12px; border-radius: 18px; background: rgba(0, 0, 0, 0.65); color: white; }

.url_progress { border: none; background-color: transparent; background-image: none; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 6px; }

.url_progress progress { background-color: @theme_selected_bg_color; background-image: none; border: none; min-height: 2px; }

.url_progress trough { border: none; background-color: transparent; background-image: none; }

.tab-attention { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@theme_selected_bg_color), to(transparent)); background-size: 6px 6px; background-repeat: no-repeat; background-position: center bottom; }

.tab-arrow-up-attention arrow.up { background-color: @theme_selected_bg_color; }

.tab-arrow-down-attention arrow.down { background-color: @theme_selected_bg_color; }

.page-menu-contents { margin-left: 12px; margin-right: 12px; margin-bottom: 12px; }

.search-entry-occurrences-tag { background: none; color: alpha(@theme_fg_color,0.5); box-shadow: none; border: none; margin: 2px; padding: 2px; }

.search-entry-occurrences-tag:backdrop { color: alpha(@theme_unfocused_fg_color,0.5); }

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row > grid { margin-left: 3px; }

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row > grid .title, dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row > grid .subtitle { margin-left: 6px; }

.download_progress progress { min-height: 2px; }

.download_progress trough { min-width: 14px; }

.pages-list { background: none; }

.draggable.drag-icon { background: white; border: 1px solid black; }

.draggable.drag-row { color: gray; background: alpha(gray,0.2); }

fullscreenbox > flap > dimming, fullscreenbox > flap > outline, fullscreenbox > flap > border { min-height: 0; min-width: 0; background: none; }

fullscreenbox > flap > shadow { min-height: 9px; min-width: 9px; background: linear-gradient(to bottom, alpha(black,0.1), alpha(black,0)); }

.incognito-mode { /*************************** Check and Radio buttons * */ }

.incognito-mode headerbar { background: #d0deed linear-gradient(to top, #c8d9ea, #d3e0ef); box-shadow: inset 0 1px rgba(255, 255, 255, 0.8); border-color: #345d8a; }

.incognito-mode headerbar > clamp { color: #172a3e; }

.incognito-mode headerbar:backdrop { background-image: image(#f5f8fb); border-color: #b4cbe3; box-shadow: inset 0 1px rgba(255, 255, 255, 0.8); }

.incognito-mode headerbar:backdrop > clamp { color: #8291a0; }

.incognito-mode actionbar { background: #f5f8fb; }

.incognito-mode actionbar > revealer > box { border-color: #4074ab; }

.incognito-mode actionbar:backdrop { background: #eaf0f7; }

.incognito-mode actionbar:backdrop > revealer > box { border-color: #b4cbe3; }

.incognito-mode headerbar > *, .incognito-mode actionbar > * { color: #172a3e; }

.incognito-mode headerbar > *:backdrop, .incognito-mode actionbar > *:backdrop { color: #8291a0; }

.incognito-mode headerbar button, .incognito-mode actionbar button { color: #172a3e; outline-color: rgba(23, 42, 62, 0.3); border-color: #4074ab; border-bottom-color: #345d8a; background-image: linear-gradient(to top, #e6edf6 2px, #f5f8fb); text-shadow: 0 1px rgba(255, 255, 255, 0.769231); -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.769231); box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.07); }

.incognito-mode headerbar button.flat, .incognito-mode headerbar button.titlebutton, .incognito-mode actionbar button.flat, .incognito-mode actionbar button.titlebutton { border-color: transparent; background-color: transparent; background-image: none; box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; }

.incognito-mode headerbar button.titlebutton, .incognito-mode actionbar button.titlebutton { text-shadow: 0 1px rgba(255, 255, 255, 0.769231); -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.769231); }

.incognito-mode headerbar button:hover, .incognito-mode actionbar button:hover { color: #172a3e; outline-color: rgba(23, 42, 62, 0.3); border-color: #4074ab; border-bottom-color: #345d8a; background-image: linear-gradient(to top, #f5f8fb, #f8fafd 1px); text-shadow: 0 1px rgba(255, 255, 255, 0.769231); -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.769231); box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.07); }

.incognito-mode headerbar button:active, .incognito-mode headerbar button:checked, .incognito-mode actionbar button:active, .incognito-mode actionbar button:checked { color: #172a3e; outline-color: rgba(23, 42, 62, 0.3); border-color: #4074ab; background-image: image(#c1d3e8); box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; }

.incognito-mode headerbar button:disabled, .incognito-mode actionbar button:disabled { color: #86919c; border-color: #648ebb; background-image: image(#f0f5f9); text-shadow: none; -gtk-icon-shadow: none; box-shadow: inset 0 1px rgba(255, 255, 255, 0); }

.incognito-mode headerbar button:backdrop, .incognito-mode actionbar button:backdrop { color: #8291a0; border-color: #b4cbe3; background-image: image(#eaf0f7); text-shadow: none; -gtk-icon-shadow: none; box-shadow: inset 0 1px rgba(255, 255, 255, 0); }

.incognito-mode headerbar button:backdrop:active, .incognito-mode actionbar button:backdrop:active { color: #8291a0; border-color: #b4cbe3; background-image: image(#d4e3f1); box-shadow: inset 0 1px rgba(255, 255, 255, 0); }

.incognito-mode headerbar button:backdrop:disabled, .incognito-mode actionbar button:backdrop:disabled { color: #b2c9e2; border-color: #b4cbe3; background-image: image(#f0f5f9); text-shadow: none; -gtk-icon-shadow: none; box-shadow: inset 0 1px rgba(255, 255, 255, 0); }

.incognito-mode headerbar button:checked, .incognito-mode actionbar button:checked { background: image(#b6cce3); border-color: #3c6ca0; border-top-color: #35608e; }

.incognito-mode headerbar button:checked:backdrop, .incognito-mode actionbar button:checked:backdrop { color: #8291a0; border-color: #b4cbe3; background-image: image(#d4e3f1); box-shadow: inset 0 1px rgba(255, 255, 255, 0); }

.incognito-mode headerbar button.flat:backdrop, .incognito-mode headerbar button.titlebutton:backdrop, .incognito-mode actionbar button.flat:backdrop, .incognito-mode actionbar button.titlebutton:backdrop { border-color: transparent; background-color: transparent; background-image: none; box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; }

.incognito-mode headerbar entry, .incognito-mode actionbar entry { border-color: #4074ab; }

.incognito-mode headerbar entry:focus, .incognito-mode actionbar entry:focus { border-color: #3584e4; box-shadow: inset 0 0 0 1px #3584e4; }

.incognito-mode headerbar entry:backdrop, .incognito-mode actionbar entry:backdrop { box-shadow: none; border-color: #b4cbe3; }

.incognito-mode tabbar .box { background: #bdd1e6; border-bottom: 1px solid #345d8a; }

.incognito-mode tabbar .box:backdrop { background-color: #c8d9ea; border-color: #b4cbe3; }

.incognito-mode tabbar scrolledwindow.pinned undershoot { border-color: #345d8a; }

.incognito-mode tabbar scrolledwindow.pinned:backdrop undershoot { border-color: #b4cbe3; }

.incognito-mode tabbar scrolledwindow.pinned tabbox:dir(ltr) { box-shadow: inset -1px 0 #345d8a; }

.incognito-mode tabbar scrolledwindow.pinned tabbox:dir(ltr):backdrop { box-shadow: inset -1px 0 #b4cbe3; }

.incognito-mode tabbar scrolledwindow.pinned tabbox:dir(rtl) { box-shadow: inset 1px 0 #345d8a; }

.incognito-mode tabbar scrolledwindow.pinned tabbox:dir(rtl):backdrop { box-shadow: inset 1px 0 #b4cbe3; }

.incognito-mode tabbar tab { border-color: #345d8a; background-color: #c8d9ea; }

.incognito-mode tabbar tab:checked { background-color: #dee8f3; }

.incognito-mode tabbar tab:checked:hover { background-color: #eaf0f7; }

.incognito-mode tabbar tab:hover { background-color: #d3e0ef; }

.incognito-mode tabbar tab:backdrop { border-color: #b4cbe3; background-color: #d3e0ef; }

.incognito-mode tabbar tab:backdrop:checked { background-color: #eaf0f7; }

.incognito-mode tabbar tab .tab-close-button:hover, .incognito-mode tabbar tab .tab-indicator.clickable:hover { background: alpha(#172a3e,0.15); }

.incognito-mode tabbar tab .tab-close-button:active, .incognito-mode tabbar tab .tab-indicator.clickable:active { background: alpha(black,0.2); }

.incognito-mode tabbar .start-action, .incognito-mode tabbar .end-action { background: #c8d9ea; border-color: #345d8a; }

.incognito-mode tabbar .start-action:backdrop, .incognito-mode tabbar .end-action:backdrop { border-color: #b4cbe3; background-color: #d3e0ef; }

.automation-mode { /*************************** Check and Radio buttons * */ }

.automation-mode headerbar { background: #f59000 linear-gradient(to top, #eb8a00, #fa9300); box-shadow: inset 0 1px rgba(255, 255, 255, 0.8); border-color: black; }

.automation-mode headerbar > clamp { color: #553200; }

.automation-mode headerbar:backdrop { background-image: image(#ffa729); border-color: #ca7905; box-shadow: inset 0 1px rgba(255, 255, 255, 0.8); }

.automation-mode headerbar:backdrop > clamp { color: #b26e0d; }

.automation-mode actionbar { background: #ffa729; }

.automation-mode actionbar > revealer > box { border-color: #241500; }

.automation-mode actionbar:backdrop { background: #ffa11a; }

.automation-mode actionbar:backdrop > revealer > box { border-color: #ca7905; }

.automation-mode headerbar > *, .automation-mode actionbar > * { color: #553200; }

.automation-mode headerbar > *:backdrop, .automation-mode actionbar > *:backdrop { color: #b26e0d; }

.automation-mode headerbar button, .automation-mode actionbar button { color: #553200; outline-color: rgba(85, 50, 0, 0.3); border-color: #241500; border-bottom-color: black; background-image: linear-gradient(to top, #ff9e14 2px, #ffa729); text-shadow: 0 1px rgba(255, 255, 255, 0.769231); -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.769231); box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.07); }

.automation-mode headerbar button.flat, .automation-mode headerbar button.titlebutton, .automation-mode actionbar button.flat, .automation-mode actionbar button.titlebutton { border-color: transparent; background-color: transparent; background-image: none; box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; }

.automation-mode headerbar button.titlebutton, .automation-mode actionbar button.titlebutton { text-shadow: 0 1px rgba(255, 255, 255, 0.769231); -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.769231); }

.automation-mode headerbar button:hover, .automation-mode actionbar button:hover { color: #553200; outline-color: rgba(85, 50, 0, 0.3); border-color: #241500; border-bottom-color: black; background-image: linear-gradient(to top, #ffa729, #ffa92e 1px); text-shadow: 0 1px rgba(255, 255, 255, 0.769231); -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.769231); box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.07); }

.automation-mode headerbar button:active, .automation-mode headerbar button:checked, .automation-mode actionbar button:active, .automation-mode actionbar button:checked { color: #553200; outline-color: rgba(85, 50, 0, 0.3); border-color: #241500; background-image: image(#e08400); box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; }

.automation-mode headerbar button:disabled, .automation-mode actionbar button:disabled { color: #aa6c14; border-color: #503208; background-image: image(#ffa423); text-shadow: none; -gtk-icon-shadow: none; box-shadow: inset 0 1px rgba(255, 255, 255, 0); }

.automation-mode headerbar button:backdrop, .automation-mode actionbar button:backdrop { color: #b26e0d; border-color: #ca7905; background-image: image(#ffa11a); text-shadow: none; -gtk-icon-shadow: none; box-shadow: inset 0 1px rgba(255, 255, 255, 0); }

.automation-mode headerbar button:backdrop:active, .automation-mode actionbar button:backdrop:active { color: #b26e0d; border-color: #ca7905; background-image: image(#fd9500); box-shadow: inset 0 1px rgba(255, 255, 255, 0); }

.automation-mode headerbar button:backdrop:disabled, .automation-mode actionbar button:backdrop:disabled { color: #cc7800; border-color: #ca7905; background-image: image(#ffa423); text-shadow: none; -gtk-icon-shadow: none; box-shadow: inset 0 1px rgba(255, 255, 255, 0); }

.automation-mode headerbar button:checked, .automation-mode actionbar button:checked { background: image(#d17b00); border-color: #140c00; border-top-color: black; }

.automation-mode headerbar button:checked:backdrop, .automation-mode actionbar button:checked:backdrop { color: #b26e0d; border-color: #ca7905; background-image: image(#fd9500); box-shadow: inset 0 1px rgba(255, 255, 255, 0); }

.automation-mode headerbar button.flat:backdrop, .automation-mode headerbar button.titlebutton:backdrop, .automation-mode actionbar button.flat:backdrop, .automation-mode actionbar button.titlebutton:backdrop { border-color: transparent; background-color: transparent; background-image: none; box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; }

.automation-mode headerbar entry, .automation-mode actionbar entry { border-color: #241500; }

.automation-mode headerbar entry:focus, .automation-mode actionbar entry:focus { border-color: #3584e4; box-shadow: inset 0 0 0 1px #3584e4; }

.automation-mode headerbar entry:backdrop, .automation-mode actionbar entry:backdrop { box-shadow: none; border-color: #ca7905; }

.automation-mode tabbar .box { background: #db8100; border-bottom: 1px solid black; }

.automation-mode tabbar .box:backdrop { background-color: #eb8a00; border-color: #ca7905; }

.automation-mode tabbar scrolledwindow.pinned undershoot { border-color: black; }

.automation-mode tabbar scrolledwindow.pinned:backdrop undershoot { border-color: #ca7905; }

.automation-mode tabbar scrolledwindow.pinned tabbox:dir(ltr) { box-shadow: inset -1px 0 black; }

.automation-mode tabbar scrolledwindow.pinned tabbox:dir(ltr):backdrop { box-shadow: inset -1px 0 #ca7905; }

.automation-mode tabbar scrolledwindow.pinned tabbox:dir(rtl) { box-shadow: inset 1px 0 black; }

.automation-mode tabbar scrolledwindow.pinned tabbox:dir(rtl):backdrop { box-shadow: inset 1px 0 #ca7905; }

.automation-mode tabbar tab { border-color: black; background-color: #eb8a00; }

.automation-mode tabbar tab:checked { background-color: #ff9a0a; }

.automation-mode tabbar tab:checked:hover { background-color: #ffa11a; }

.automation-mode tabbar tab:hover { background-color: #fa9300; }

.automation-mode tabbar tab:backdrop { border-color: #ca7905; background-color: #fa9300; }

.automation-mode tabbar tab:backdrop:checked { background-color: #ffa11a; }

.automation-mode tabbar tab .tab-close-button:hover, .automation-mode tabbar tab .tab-indicator.clickable:hover { background: alpha(#553200,0.15); }

.automation-mode tabbar tab .tab-close-button:active, .automation-mode tabbar tab .tab-indicator.clickable:active { background: alpha(black,0.2); }

.automation-mode tabbar .start-action, .automation-mode tabbar .end-action { background: #eb8a00; border-color: black; }

.automation-mode tabbar .start-action:backdrop, .automation-mode tabbar .end-action:backdrop { border-color: #ca7905; background-color: #fa9300; }

/*************************** Check and Radio buttons * */
.bookmark-tag-widget { border-radius: 5px; }

.bookmark-tag-widget button { background: none; border: none; box-shadow: none; -gtk-icon-shadow: none; text-shadow: none; min-width: 24px; min-height: 24px; border-radius: 99px; color: inherit; padding: 0; margin: 2px; }

.bookmark-tag-widget button:hover { background: alpha(#2e3436,0.15); }

.bookmark-tag-widget button:hover:active { background: alpha(black,0.2); }

.bookmark-tag-widget-selected button { background: none; border: none; box-shadow: none; -gtk-icon-shadow: none; text-shadow: none; min-width: 24px; min-height: 24px; border-radius: 99px; color: inherit; padding: 0; margin: 2px; }

.bookmark-tag-widget-selected button:hover { background: alpha(#ffffff,0.15); }

.bookmark-tag-widget-selected button:hover:active { background: alpha(black,0.2); }

@keyframes needs_attention_keyframes { 0% { background-image: linear-gradient(to bottom, #fafafa, #ededed 40%, #e0e0e0);
    border-color: @borders; }
  /* can't do animation-direction, so holding the color on two keyframes */
  30% { background-image: linear-gradient(to bottom, @theme_base_color, @theme_base_color, @theme_base_color);
    border-color: @theme_fg_color; }
  90% { background-image: linear-gradient(to bottom, @theme_base_color, @theme_base_color, @theme_base_color);
    border-color: @theme_fg_color; }
  100% { background-image: linear-gradient(to bottom, #fafafa, #ededed 40%, #e0e0e0);
    border-color: @borders; } }

.epiphany-downloads-button-needs-attention { animation: needs_attention_keyframes 2s ease-in-out; }

.epiphany-downloads-button-needs-attention-multiple { animation: needs_attention_keyframes 3s ease-in-out; animation-iteration-count: 3; }

#title-box-container { color: alpha(@theme_fg_color,0.2); }

#title-box-container > clamp { color: @theme_fg_color; }

#title-box-container > clamp:backdrop { color: @theme_unfocused_fg_color; }

.pages-list { margin: 5px; }

.pages-list row { min-height: 30px; padding: 3px; border-radius: 5px; -gtk-outline-radius: 5px; border: none; color: #2e3436; transition: none; box-shadow: none; }

.pages-list row:not(:last-child) { margin-bottom: 2px; }

.pages-list row:selected { background: #dfdcd8; }

.pages-list row:hover { background: #d4cfca; }

.pages-list row .close-button { background: none; border: none; box-shadow: none; -gtk-icon-shadow: none; text-shadow: none; min-width: 24px; min-height: 24px; border-radius: 99px; color: inherit; padding: 0; margin: 2px; }

.pages-list row .close-button:hover { background: alpha(#2e3436,0.15); }

.pages-list row .close-button:hover:active { background: alpha(black,0.2); }

#pages-view .pages-list row .close-button { min-width: 36px; min-height: 36px; }
