.floating-bar { background-color: @theme_base_color; border-width: 1px; border-style: solid solid none; border-color: @borders; border-radius: 3px 3px 0 0; }

.floating-bar.left { border-left-style: none; border-top-left-radius: 0; }

.floating-bar.right { border-right-style: none; border-top-right-radius: 0; }

.floating-bar:backdrop { background-color: @theme_unfocused_base_color; border-color: @unfocused_borders; }

.incognito-mode headerbar { background-image: -gtk-icontheme("user-not-tracked-symbolic"); background-repeat: no-repeat; background-position: 157px 0; background-size: 64px 64px; color: rgba(0, 0, 0, 0.35); }

.automation-mode headerbar { background-color: #ff9600; color: rgba(0, 0, 0, 0.35); }

.entry_icon { color: mix(@theme_fg_color, @theme_base_color, 0.2); }

.entry_icon:hover { color: @theme_fg_color; }

.entry_icon:active { color: @theme_selected_bg_color; }

.entry_icon:backdrop { color: mix(@theme_unfocused_fg_color, @theme_unfocused_base_color, 0.2); }

.entry_icon.selected { color: @theme_selected_bg_color; }

.entry_icon.starred { color: orange; }

.bookmarks-row button { opacity: 0.25; }

.bookmarks-row:hover button { opacity: 1; }

.bookmark-tag-widget { padding-left: 8px; background-color: darker(@theme_bg_color); }

.bookmark-tag-widget label { padding-left: 8px; padding-right: 8px; }

.bookmark-tag-widget image, .bookmark-tag-widget label { color: @theme_fg_color; }

.bookmark-tag-widget button:hover image { color: @theme_fg_color; }

.bookmark-tag-widget-selected { background-color: @theme_selected_bg_color; }

.bookmark-tag-widget-selected image, .bookmark-tag-widget-selected label { color: @theme_selected_fg_color; }

#fullscreen-popup { padding: 12px; border-radius: 18px; background: rgba(0, 0, 0, 0.65); color: white; }

.url_progress { border: none; background-color: transparent; background-image: none; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 6px; }

.url_progress progress { background-color: @theme_selected_bg_color; background-image: none; border: none; min-height: 2px; }

.url_progress trough { border: none; background-color: transparent; background-image: none; }

.pages-button > label { text-shadow: none; font-weight: bold; color: @theme_selected_fg_color; background-color: @theme_text_color; font-size: smaller; border-radius: 4px; }

.pages-button > label:backdrop { background-color: mix(@theme_unfocused_fg_color, @theme_unfocused_base_color, 0.2); }

button.text-button.pages-button { padding-left: 5px; padding-right: 5px; min-width: 24px; }

button.text-button.pages-button > label { padding-left: 8px; padding-right: 8px; }
