@import 'definitions';

// menu button fix, yeah this is ugly

button.active-menu {
  @include button(active);

  &:backdrop { @include button(active-backdrop); }
}

// floating status bar
.floating-bar {
  background-color: themecolor(theme_base_color);
  border-width: 1px;
  border-style: solid solid none;
  border-color: themecolor(borders);
  border-radius: 3px 3px 0 0;

  &.left {
    border-left-style: none;
    border-top-left-radius: 0;
  }

  &.right {
    border-right-style: none;
    border-top-right-radius: 0;
  }

  &:backdrop {
    background-color: themecolor(theme_unfocused_base_color);
    border-color: themecolor(unfocused_borders);
  }
}


// incognito mode
.incognito-mode {
  &.titlebar {
    background-image: -gtk-icontheme($incognito_icon);
    background-repeat: no-repeat;
    background-position: 157px 0;
    background-size: 64px 64px;
    color: rgba(0, 0, 0, 0.35);
  }
}

.selected {
  color: @theme_selected_bg_color; }

/* Bookmarks */
.starred {
  color: orange;
}

.bookmarks-row {
  button {
    opacity: 0.25;
  }

  &:hover {
    button {
      opacity: 1;
    }
  }
}

$close_button_fg_color: lighten($fg_color, 10%);
.bookmark-tag-widget {
  padding-left: 8px;
  background-color: darken($bg_color, 10%);

  label {
    padding-left: 8px;
    padding-right: 8px;
  }

  button {
    background: none;
    border: none;
    box-shadow: none;

    &:last-child {
      image {
        color: $close_button_fg_color;
      }

      &:hover {
        image {
          border: 1px solid;
          border-radius: 3px;
          @include button(normal, $bg_color, $close_button_fg_color);
          @include button(hover, $bg_color, $close_button_fg_color);
        }
      }

      &:active {
        image {
          @include button(normal, $bg_color, $close_button_fg_color);
          @include button(active, $bg_color, $close_button_fg_color);
        }
      }
    }
  }
}

.bookmark-tag-widget-selected {
  background-color: $selected_bg_color;

  image {
    color: white;
  }

  label {
    color: white;
  }

  button {
    &:last-child {
      image {
        color: white;
      }

      &:hover {
        image {
          @include button(normal, $selected_bg_color, white);
          @include button(hover, $selected_bg_color, white);
        }
      }

      &:active {
        image {
          @include button(normal, $selected_bg_color, white);
          @include button(active, $selected_bg_color, white);
        }
      }
    }
  }
}

/* "Press $KEY to exit fullscreen" overlay text */
#fullscreen-popup {
  padding: 12px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.65);
  color: white;
}

.url_progress {
    border: none;
    background-color: transparent;
    background-image: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 6px; }

.url_progress progress {
    background-color: @theme_selected_bg_color;
    background-image: none;
    border: none;
    min-height: 2px; }

.url_progress trough {
    border: none;
    background-color: transparent;
    background-image: none; }
