.floating-bar { background-color: @theme_base_color; border-width: 1px; border-style: solid solid none; border-color: @borders; border-radius: 3px 3px 0 0; }

.floating-bar.left { border-left-style: none; border-top-left-radius: 0; }

.floating-bar.right { border-right-style: none; border-top-right-radius: 0; }

.floating-bar:backdrop { background-color: @theme_unfocused_base_color; border-color: @unfocused_borders; }

#title-box-container { transition: background 200ms ease-out; }

.incognito-mode #title-box-container { background: -gtk-icontheme("user-not-tracked-symbolic") 16px 0/64px 64px no-repeat; }

.incognito-mode #title-box-container:backdrop { background-image: cross-fade(50% -gtk-icontheme("user-not-tracked-symbolic"), image(transparent)); }

.automation-mode headerbar { background-color: #ff9600; color: rgba(0, 0, 0, 0.35); }

.entry_icon_box { margin-left: 2px; margin-right: 5px; }

.entry_icon_box:dir(rtl) { margin-left: 5px; margin-right: 2px; }

.entry_icon_box > button { box-shadow: none; border: transparent; background: transparent; padding: 0px; -gtk-icon-shadow: none; outline-offset: -1px; }

.entry_icon_box > button:hover:not(:backdrop) .entry_icon { opacity: 1; }

.entry_icon { color: @theme_fg_color; margin: 0 4px; opacity: .8; }

.entry_icon:active { color: @theme_selected_bg_color; }

.entry_icon:backdrop { color: @theme_unfocused_fg_color; }

.entry_icon.selected { color: @theme_selected_bg_color; }

.entry_icon.starred { color: orange; }

.bookmarks-row button { opacity: 0.25; }

.bookmarks-row:hover button { opacity: 1; }

.bookmark-tag-widget { padding-left: 8px; background-color: rgba(0, 0, 0, 0.1); border-radius: 3px; }

.bookmark-tag-widget label { padding-left: 8px; padding-right: 8px; }

.bookmark-tag-widget image, .bookmark-tag-widget label, .bookmark-tag-widget button:hover image { color: @theme_fg_color; }

.bookmark-tag-widget-selected { background-color: @theme_selected_bg_color; }

.bookmark-tag-widget-selected image, .bookmark-tag-widget-selected label, .bookmark-tag-widget-selected button:hover image { color: @theme_selected_fg_color; }

#fullscreen-popup { padding: 12px; border-radius: 18px; background: rgba(0, 0, 0, 0.65); color: white; }

.url_progress { border: none; background-color: transparent; background-image: none; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 6px; }

.url_progress progress { background-color: @theme_selected_bg_color; background-image: none; border: none; min-height: 2px; }

.url_progress trough { border: none; background-color: transparent; background-image: none; }

.tab-attention { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@theme_selected_bg_color), to(transparent)); background-size: 6px 6px; background-repeat: no-repeat; background-position: center bottom; }

.tab-arrow-up-attention arrow.up { background-color: @theme_selected_bg_color; }

.tab-arrow-down-attention arrow.down { background-color: @theme_selected_bg_color; }

.page-menu-contents { margin-left: 12px; margin-right: 12px; margin-bottom: 12px; }

.search-entry-occurrences-tag { background: none; color: alpha(@theme_fg_color,0.5); box-shadow: none; border: none; margin: 2px; padding: 2px; }

.search-entry-occurrences-tag:backdrop { color: alpha(@theme_unfocused_fg_color,0.5); }

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row > grid { margin-left: 3px; }

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row > grid .title, dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row > grid .subtitle { margin-left: 6px; }

.download_progress progress { min-height: 2px; }

.download_progress trough { min-width: 14px; }

.pages-list { background: none; }

.draggable.drag-icon { background: white; border: 1px solid black; }

.draggable.drag-row { color: gray; background: alpha(gray,0.2); }

fullscreenbox > flap > dimming, fullscreenbox > flap > outline, fullscreenbox > flap > border { min-height: 0; min-width: 0; background: none; }

fullscreenbox > flap > shadow { min-height: 9px; min-width: 9px; background: linear-gradient(to bottom, alpha(black,0.1), alpha(black,0)); }
