/* about:plugins */

#plugin-table
{
    margin: 14px;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
}

#plugin-table th
{
    padding: 8px;
    background:#b9c9ff;
    border-top: 4px solid #aabcff;
    border-bottom: 1px solid #fff;
    color: #039;
}

#plugin-table td
{
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solidtransparent;
}

#plugin-table tr:hover td
{
    background: #d0dafd;
    color:#339;
}

/* about:epiphany */

#ephytext {
  margin-top: 15%;
  font-size: 1.3em;
  text-align: center;
}

#from {
  margin-top: 1em;
  font-size: 1.5em;
  text-align: right;
}

/* about:memory */

.memory-table caption
{
    margin-bottom: 0.5em;
}

.memory-table
{
    margin: 14px;
    width: 75%;
    border-collapse: collapse;
}

.memory-table th
{
    padding: 2px;
    background:#b9c9ff;
    border-top: 4px solid #aabcff;
    border-bottom: 1px solid #fff;
    color: #039;
}

.memory-table td
{
    padding: 2px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solidtransparent;
}

